body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  background-color: rgb(0, 6, 14);
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}
#outer-box {
  width: 60%;
  margin: auto;
  border: solid 0.1px black;
  border-radius: 5px;
  background-color: rgb(0, 42, 109);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60vb;
  min-width: fit-content;

}
#time {
  font-size: 60px;
  text-align: start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:3px;
  width:237px ;
  padding: 0;
  text-wrap: nowrap;
  
  
}
#forma {
  word-spacing: 25px ;
  color: rgba(255, 255, 255, 0.326);
  font-family: monospace;
  text-wrap: nowrap;
  
}
#keys-pad {
  background-color: rgba(151, 193, 255, 0.878);
  width: 115%;
  height: 20%;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  
}
button {
  width: 140px;
  height: 40px;
  margin: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 30;
  background-color: rgb(0, 19, 49);
  color: white;
  transition: 0.2s;
}

#start-btn:hover {
  transform: scale(104%);
  background-color: rgba(0, 191, 0, 0.95);
  box-shadow: 2px 2px 10px rgb(0, 211, 0);
}
#stop-btn:hover {
  transform: scale(104%);
  background-color: rgba(227, 37, 37, 0.95);
  box-shadow: 2px 2px 10px rgb(255, 54, 54);
}
#reset-btn:hover {
  transform: scale(104%);
  background-color: rgba(83, 83, 255, 0.95);
  box-shadow: 2px 2px 10px rgb(83, 83, 255);
}

@media screen and (width<600px) {
  #keys-pad {
    width: 100%;
    margin-top: 10px;
  }
  #time {
    font-size: 80px;
  }
  #outer-box {
    width: 90%;
  }
}